body{
    font-family: 'cinzel', sans-serif;
    background: url("../images/starwars-background.jpg");
}
header{
    font-family: 'cinzel', sans-serif;
    text-align: right;
    color: #eeeeee;
    font-size: 48px;
    margin-right: 75px;
}
.characters{
    margin-left: 50px;
}
.countainer{
    width: auto;
    height: auto;
}
#obiwan{
    float: left;
    padding: 5px 25px;
    background-color: #eeeeee;
    border: 3px solid green;
}
#quigon{
    float: left;
    padding: 5px 25px;
    background-color: #eeeeee;
    border: 3px solid green;
}
#maul{
    float: left;
    padding: 5px 25px;
    background-color: #eeeeee;
    border: 3px solid green;
}
#sidious{
    float: left;
    padding: 5px 25px;
    background-color: #eeeeee;
    border: 3px solid green;
}
.charactername{
    text-align: center;
    font-weight: 600;
    font-size: 14px
}
.characterhp{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.battle{
    padding-left: 50px;
}
.user-character{
    clear: both;
    color: #eeeeee;
    font-size: 36px;
    
}
#your-character{
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.enemies{
    clear: both;
    color: #eeeeee;
    font-size: 36px;
    padding-top: 150px;
}
.enemies-available{
    clear: both;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.fight{
    clear: both;
    color: #eeeeee;
    font-size: 36px;
    
}
#attack{
    clear: both;
    margin-left: 50px;
}
.defender{
    clear: both;
    margin-left: 50px;
    color: #eeeeee;
    font-size: 36px;
}
.defender-char{
    clear: both;
    color: black;
    font-size: 14px;
    font-weight: 600;
}